<nav class="navbar navbar-expand-lg text-bg-primary">
  <div class="container">
    <a class="navbar-brand text-bg-primary" routerLink="/">MyApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="nav nav-tabs ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-bg-primary"

             data-bs-toggle="dropdown" routerLinkActive="active"

             routerLink="/games"

             role="button" aria-expanded="false">Games</a>
          <ul class="dropdown-menu text-bg-primary">

            <li><a class="dropdown-item" routerLinkActive="active"

                   routerLink="/games">List Games</a></li>

            <li><a class="dropdown-item" routerLink="/games/add">Add

              Game</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-bg-primary"

             data-bs-toggle="dropdown" routerLinkActive="active"

             routerLink="/books"

             role="button" aria-expanded="false">Books</a>
          <ul class="dropdown-menu text-bg-primary">

            <li><a class="dropdown-item" routerLinkActive="active"

                   routerLink="/books">List Books</a></li>

            <li><a class="dropdown-item" routerLinkActive="active"

                   routerLink="/books/add">Add Book</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
