<div class="container">
  <div class="row my-3">
    <div class="col-12 toolbar p-3">
      <ng-form (ngSubmit)="search($event)">
        <div class="d-flex">
          <h2>{{ gamesList.length }} Games
            <fa-icon *ngIf="favorites else noFavorite" [icon]="faHeart"
                     class="text-danger" (click)="favoriteList()"></fa-icon>
            <ng-template #noFavorite>
              <fa-icon [icon]="faHeartBroken" class="text-danger"
                       (click)="favoriteList()"></fa-icon>
            </ng-template>
          </h2>
          <fa-icon class="position-relative start-10 align-self-center"
                   [icon]="faMagnifyingGlass"></fa-icon>
          <input type="search" placeholder="Search..."
                 class="ms-3 ps-5 form-control w-25"
                 #searchInput (keyup)="search(searchInput.value)">
        </div>
      </ng-form>
    </div>
  </div>
  <div class="row">
    <div class="mt-2 col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let game of gamesList">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h2>{{ game.title }}
              <fa-icon *ngIf="game.favorite else noGFavorite" [icon]="faHeart"
                       class="text-danger" (click)="favoriteList()"></fa-icon>
              <ng-template #noGFavorite>
                <fa-icon [icon]="faHeartBroken" class="text-danger"
                         (click)="favoriteList()"></fa-icon>
              </ng-template>
            </h2>
          </div>
          <div class="card-subtitle">{{ game.subtitle }}</div>
        </div>
        <img [src]="game.image" class="card-img-top"
             [alt]="game.title"/>
        <div class="card-body">
          <p class="card-text">{{ game.description }}</p>
        </div>
        <div class="card-footer">
          <div class=" d-flex justify-content-between ">
            <p class="text-muted ">{{
                game.created_at | date:
                  'mediumDate'
              }}</p>
            <div class="buttons d-flex">
                <fa-icon [icon]="faEdit" class="text-primary fs-5 me-3"
                         [routerLink]="'/games/edit/'+game.id"></fa-icon>
              <!-- Button trigger modal -->
              <fa-icon [icon]="faTrashCan" class="text-danger fs-5"
                       data-bs-target="#deleteModal" data-bs-toggle="modal"></fa-icon>
              <!-- Modal -->
              <div class="modal fade" id="deleteModal"
                   tabindex="-1" aria-labelledby="deleteModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5"
                          id="deleteModalLabel">
                        Delete Game</h1>
                      <button type="button" class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Quieres borrar {{ game.title }}?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary"
                              data-bs-dismiss="modal">Cancelar
                      </button>
                      <button type="button" class="btn btn-danger"
                              data-bs-dismiss="modal"
                              (click)="deleteGame(game)">Borrar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ngb-toast class="toast-container position-fixed bg-success text-light top-0 end-50 p-1"
               style="z-index: 1200" *ngIf="toastShow">
      {{ toast.body }}
    </ngb-toast>
  </div>
</div>
